# User stories snippets
# Copyright © 2011 Pavel Kunc <pavel.kunc@gmail.com>

snippet asa
	AS A ${1:role} I WANT TO ${2:desire} SO THAT ${3:rationale}.
	${4}
snippet asan
	AS AN ${1:role} I WANT TO ${2:desire} SO THAT ${3:rationale}.
	${4}
