# User stories snippets
# Copyright © 2011 Pavel Kunc <pavel.kunc@gmail.com>

snippet asa
	AS A ${1:role} I WANT TO ${2:goal} SO THAT ${3:reason}.
	${4}
snippet asan
	AS AN ${1:role} I WANT TO ${2:goal} SO THAT ${3:reason}.
	${4}
